body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

aside {
    margin: 20px 0;
}

aside button {
    margin: 0 5px;
}

main {
    padding: 20px;
}

.controls {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
}

#websiteList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.website {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.website img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#progressBarContainer {
    width: 100%;
    background-color: #f3f3f3;
    margin-top: 20px;
}

#progressBar {
    width: 0;
    height: 20px;
    background-color: #4caf50;
}